# HOW THE ELECTIONS ARE CONDUCTED

One Year Before the Elections
Republicans and Democrats are the two main political parties in the United States. The two parties start their campaigns a year before the elections by assembling their teams and beginning their nationwide fundraising and support-seeking travels. As soon as a campaign is underway, the parties engage in televised debates to defend their positions and ideas.

Candidates are chosen directly by the voters in U.S. elections. However, voters do not directly elect the president and vice president. Instead, they are picked by "electors" through the Electoral College process.

The Constitution is the source of the electoral process. It was a compromise between a vote in Congress and a vote by the general public.   

The Electors
Each state receives the same number of electors as members of Congress (House and Senate). Including the three electors from Washington, D.C., there are presently 538 electors in total.

The political parties in each state pick their own list of prospective voters. Per whom, how, and when electors are chosen differs by state.

## What Is the Process of the Electoral College?
Your vote is added to a statewide tally once you cast your presidential ballot. The victor receives all of the electoral votes for that state in the remaining 48 states and Washington, D.C. The electors in Maine and Nebraska are distributed according to a proportional system.

In order to win the presidency, a candidate must receive the support of at least 270 electors, or more than half of all electors in the United States.

A projected winner is typically declared on election night in November following your vote. But when the electors gather in their states around the middle of December, that's when the actual Electoral College vote happens. The Constitution does not mandate that electors support the candidate who won the popular vote in their state, but some states do. When an elector casts a ballot for someone else, their state may punish them, remove them from office and replace them with another elector, or even bring legal action against them.

The prupose of this project is to rank states by decreasing number of grand electors per capita. The first states in the list will be the most valuable since you get a large number of grand electors by convincing a small number of people to vote for you.

# DATA SOURCE
Below are two datasets that can be considered for project:
Grand electors by State - https://drive.google.com/a/moringaschool.com/file/d/1AuPlNXKjmEdRTLGqKbP-OP1XZ5UQPIPw/view?usp=sharing
Population by State. https://drive.google.com/a/moringaschool.com/file/d/1VKt_hF2pRqPxcNb1DKotkVXWNd2HX_KL/view?usp=sharing

# IMPORTING LIBRARIES

In [15]:
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
#reading dataframes
df = pd.read_csv("GrandElectors_by_state.csv")
df.head()

        State  GrandElectors
0     Alabama              9
1      Alaska              3
2     Arizona             11
3    Arkansas              6
4  California             55

# DESCRIPTIVE STATISTICS

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   State          51 non-null     object
 1   GrandElectors  51 non-null     int64
dtypes: int64(1), object(1)
memory usage: 944.0+ bytes

In [18]:
df1 = pd.read_csv("Population_by_state.csv")
df1.head()

        State  Population
0  CALIFORNIA    39144818
1       TEXAS    27469114
2     FLORIDA    20271272
3    NEW YORK    19795791
4    ILLINOIS    12859995

In [19]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   State       56 non-null     object
 1   Population  56 non-null     int64
dtypes: int64(1), object(1)
memory usage: 1.0+ KB

# DATA CLEANING

In [20]:
df1['State'] = df1['State'].str.title()

In [21]:
# replacing District of Columbia / District Of Columbia with DC
df = df.replace("District of Columbia", "DC")
df1 = df1.replace("District Of Columbia", "DC")

# MERGING DATAFRAMES

In [22]:
df_merged = pd.merge(df, df1, on="State")
df_merged

             State  GrandElectors  Population
0          Alabama              9     4858979
1           Alaska              3      738432
2          Arizona             11     6828065
3         Arkansas              6     2978204
4       California             55    39144818
5         Colorado              9     5456574
6      Connecticut              7     3590886
7               DC              3      672228
8         Delaware              3      945934
9          Florida             29    20271272
10         Georgia             16    10214860
11          Hawaii              4     1431603
12           Idaho              4     1654930
13        Illinois             20    12859995
14         Indiana             11     6619680
15            Iowa              6     3123899
16          Kansas              6     2911641
17        Kentucky              8     4425092
18       Louisiana              8     4670724
19           Maine              4     1329328
20        Maryland             10     6006401
21   Massachusetts             11     6794422
22        Michigan             16     9922576
23       Minnesota             10     5489594
24     Mississippi              6     2992333
25        Missouri             10     6083672
26         Montana              3     1032949
27        Nebraska              5     1896190
28          Nevada              6     2890845
29   New Hampshire              4     1330608
30      New Jersey             14     8958013
31      New Mexico              5     2085109
32        New York             29    19795791
33  North Carolina             15    10042802
34    North Dakota              3      756927
35            Ohio             18    11613423
36        Oklahoma              7     3911338
37          Oregon              7     4028977
38    Pennsylvania             20    12802503
39    Rhode Island              4     1056298
40  South Carolina              9     4896146
41    South Dakota              3      858469
42       Tennessee             11     6600299
43           Texas             38    27469114
44            Utah              6     2995919
45         Vermont              3      626042
46        Virginia             13     8382993
47      Washington             12     7170351
48   West Virginia              5     1844128
49       Wisconsin             10     5771337
50         Wyoming              3      586107

# RATIO OF GRAND ELECTORS TO POPULATION

In [23]:
#for every x-GrandElector, there is y-ratio of population
df_merged['Ratio'] = df_merged["GrandElectors"] / df_merged["Population"] 
df_merged

             State  GrandElectors  Population     Ratio
0          Alabama              9     4858979  0.000002
1           Alaska              3      738432  0.000004
2          Arizona             11     6828065  0.000002
3         Arkansas              6     2978204  0.000002
4       California             55    39144818  0.000001
5         Colorado              9     5456574  0.000002
6      Connecticut              7     3590886  0.000002
7               DC              3      672228  0.000004
8         Delaware              3      945934  0.000003
9          Florida             29    20271272  0.000001
10         Georgia             16    10214860  0.000002
11          Hawaii              4     1431603  0.000003
12           Idaho              4     1654930  0.000002
13        Illinois             20    12859995  0.000002
14         Indiana             11     6619680  0.000002
15            Iowa              6     3123899  0.000002
16          Kansas              6     2911641  0.000002
17        Kentucky              8     4425092  0.000002
18       Louisiana              8     4670724  0.000002
19           Maine              4     1329328  0.000003
20        Maryland             10     6006401  0.000002
21   Massachusetts             11     6794422  0.000002
22        Michigan             16     9922576  0.000002
23       Minnesota             10     5489594  0.000002
24     Mississippi              6     2992333  0.000002
25        Missouri             10     6083672  0.000002
26         Montana              3     1032949  0.000003
27        Nebraska              5     1896190  0.000003
28          Nevada              6     2890845  0.000002
29   New Hampshire              4     1330608  0.000003
30      New Jersey             14     8958013  0.000002
31      New Mexico              5     2085109  0.000002
32        New York             29    19795791  0.000001
33  North Carolina             15    10042802  0.000001
34    North Dakota              3      756927  0.000004
35            Ohio             18    11613423  0.000002
36        Oklahoma              7     3911338  0.000002
37          Oregon              7     4028977  0.000002
38    Pennsylvania             20    12802503  0.000002
39    Rhode Island              4     1056298  0.000004
40  South Carolina              9     4896146  0.000002
41    South Dakota              3      858469  0.000003
42       Tennessee             11     6600299  0.000002
43           Texas             38    27469114  0.000001
44            Utah              6     2995919  0.000002
45         Vermont              3      626042  0.000005
46        Virginia             13     8382993  0.000002
47      Washington             12     7170351  0.000002
48   West Virginia              5     1844128  0.000003
49       Wisconsin             10     5771337  0.000002
50         Wyoming              3      586107  0.000005

# order the states by decreasing ratio of Grand Electors per capita

In [25]:
df_merged = df_merged.sort_values(by="Ratio", ascending=False)
df_merged

             State  GrandElectors  Population     Ratio
50         Wyoming              3      586107  0.000005
45         Vermont              3      626042  0.000005
7               DC              3      672228  0.000004
1           Alaska              3      738432  0.000004
34    North Dakota              3      756927  0.000004
39    Rhode Island              4     1056298  0.000004
41    South Dakota              3      858469  0.000003
8         Delaware              3      945934  0.000003
19           Maine              4     1329328  0.000003
29   New Hampshire              4     1330608  0.000003
26         Montana              3     1032949  0.000003
11          Hawaii              4     1431603  0.000003
48   West Virginia              5     1844128  0.000003
27        Nebraska              5     1896190  0.000003
12           Idaho              4     1654930  0.000002
31      New Mexico              5     2085109  0.000002
28          Nevada              6     2890845  0.000002
16          Kansas              6     2911641  0.000002
3         Arkansas              6     2978204  0.000002
24     Mississippi              6     2992333  0.000002
44            Utah              6     2995919  0.000002
6      Connecticut              7     3590886  0.000002
15            Iowa              6     3123899  0.000002
0          Alabama              9     4858979  0.000002
40  South Carolina              9     4896146  0.000002
23       Minnesota             10     5489594  0.000002
17        Kentucky              8     4425092  0.000002
36        Oklahoma              7     3911338  0.000002
37          Oregon              7     4028977  0.000002
49       Wisconsin             10     5771337  0.000002
18       Louisiana              8     4670724  0.000002
47      Washington             12     7170351  0.000002
42       Tennessee             11     6600299  0.000002
20        Maryland             10     6006401  0.000002
14         Indiana             11     6619680  0.000002
5         Colorado              9     5456574  0.000002
25        Missouri             10     6083672  0.000002
21   Massachusetts             11     6794422  0.000002
22        Michigan             16     9922576  0.000002
2          Arizona             11     6828065  0.000002
10         Georgia             16    10214860  0.000002
30      New Jersey             14     8958013  0.000002
38    Pennsylvania             20    12802503  0.000002
13        Illinois             20    12859995  0.000002
46        Virginia             13     8382993  0.000002
35            Ohio             18    11613423  0.000002
33  North Carolina             15    10042802  0.000001
32        New York             29    19795791  0.000001
9          Florida             29    20271272  0.000001
4       California             55    39144818  0.000001
43           Texas             38    27469114  0.000001

In [27]:
df_merged['Cummilative total'] = df_merged["GrandElectors"].cumsum(axis=0)
df_merged

             State  GrandElectors  Population     Ratio  Cummilative total
50         Wyoming              3      586107  0.000005                  3
45         Vermont              3      626042  0.000005                  6
7               DC              3      672228  0.000004                  9
1           Alaska              3      738432  0.000004                 12
34    North Dakota              3      756927  0.000004                 15
39    Rhode Island              4     1056298  0.000004                 19
41    South Dakota              3      858469  0.000003                 22
8         Delaware              3      945934  0.000003                 25
19           Maine              4     1329328  0.000003                 29
29   New Hampshire              4     1330608  0.000003                 33
26         Montana              3     1032949  0.000003                 36
11          Hawaii              4     1431603  0.000003                 40
48   West Virginia              5     1844128  0.000003                 45
27        Nebraska              5     1896190  0.000003                 50
12           Idaho              4     1654930  0.000002                 54
31      New Mexico              5     2085109  0.000002                 59
28          Nevada              6     2890845  0.000002                 65
16          Kansas              6     2911641  0.000002                 71
3         Arkansas              6     2978204  0.000002                 77
24     Mississippi              6     2992333  0.000002                 83
44            Utah              6     2995919  0.000002                 89
6      Connecticut              7     3590886  0.000002                 96
15            Iowa              6     3123899  0.000002                102
0          Alabama              9     4858979  0.000002                111
40  South Carolina              9     4896146  0.000002                120
23       Minnesota             10     5489594  0.000002                130
17        Kentucky              8     4425092  0.000002                138
36        Oklahoma              7     3911338  0.000002                145
37          Oregon              7     4028977  0.000002                152
49       Wisconsin             10     5771337  0.000002                162
18       Louisiana              8     4670724  0.000002                170
47      Washington             12     7170351  0.000002                182
42       Tennessee             11     6600299  0.000002                193
20        Maryland             10     6006401  0.000002                203
14         Indiana             11     6619680  0.000002                214
5         Colorado              9     5456574  0.000002                223
25        Missouri             10     6083672  0.000002                233
21   Massachusetts             11     6794422  0.000002                244
22        Michigan             16     9922576  0.000002                260
2          Arizona             11     6828065  0.000002                271
10         Georgia             16    10214860  0.000002                287
30      New Jersey             14     8958013  0.000002                301
38    Pennsylvania             20    12802503  0.000002                321
13        Illinois             20    12859995  0.000002                341
46        Virginia             13     8382993  0.000002                354
35            Ohio             18    11613423  0.000002                372
33  North Carolina             15    10042802  0.000001                387
32        New York             29    19795791  0.000001                416
9          Florida             29    20271272  0.000001                445
4       California             55    39144818  0.000001                500
43           Texas             38    27469114  0.000001                538

# WINNING STATES
The states that the candidates should focus one in order to win the votes are

In [35]:
top_states = df_merged[df_merged["Cummilative total"]<=271]
top_states

             State  GrandElectors  Population     Ratio  Cummilative total
50         Wyoming              3      586107  0.000005                  3
45         Vermont              3      626042  0.000005                  6
7               DC              3      672228  0.000004                  9
1           Alaska              3      738432  0.000004                 12
34    North Dakota              3      756927  0.000004                 15
39    Rhode Island              4     1056298  0.000004                 19
41    South Dakota              3      858469  0.000003                 22
8         Delaware              3      945934  0.000003                 25
19           Maine              4     1329328  0.000003                 29
29   New Hampshire              4     1330608  0.000003                 33
26         Montana              3     1032949  0.000003                 36
11          Hawaii              4     1431603  0.000003                 40
48   West Virginia              5     1844128  0.000003                 45
27        Nebraska              5     1896190  0.000003                 50
12           Idaho              4     1654930  0.000002                 54
31      New Mexico              5     2085109  0.000002                 59
28          Nevada              6     2890845  0.000002                 65
16          Kansas              6     2911641  0.000002                 71
3         Arkansas              6     2978204  0.000002                 77
24     Mississippi              6     2992333  0.000002                 83
44            Utah              6     2995919  0.000002                 89
6      Connecticut              7     3590886  0.000002                 96
15            Iowa              6     3123899  0.000002                102
0          Alabama              9     4858979  0.000002                111
40  South Carolina              9     4896146  0.000002                120
23       Minnesota             10     5489594  0.000002                130
17        Kentucky              8     4425092  0.000002                138
36        Oklahoma              7     3911338  0.000002                145
37          Oregon              7     4028977  0.000002                152
49       Wisconsin             10     5771337  0.000002                162
18       Louisiana              8     4670724  0.000002                170
47      Washington             12     7170351  0.000002                182
42       Tennessee             11     6600299  0.000002                193
20        Maryland             10     6006401  0.000002                203
14         Indiana             11     6619680  0.000002                214
5         Colorado              9     5456574  0.000002                223
25        Missouri             10     6083672  0.000002                233
21   Massachusetts             11     6794422  0.000002                244
22        Michigan             16     9922576  0.000002                260
2          Arizona             11     6828065  0.000002                271