In [1]:
import pandas as pd
import numpy as np
  
# Create a dataframe
df1 = pd.DataFrame({"A":[2, 3, 8, 14], 
                   "B":[1, 2, 4, 3], 
                   "C":[5, 3, 9,2]}) 
  
# Computing sum over Index axis
print(df1.cumsum(axis = 1))

    A   B   C
0   2   3   8
1   3   5   8
2   8  12  21
3  14  17  19

In [2]:
df2 = pd.DataFrame({"A":[2, 3, 8, 14], 
                   "B":[1, 2, 4, 3], 
                   "C":[5, 3, 9,2]})

In [3]:
df2

    A  B  C
0   2  1  5
1   3  2  3
2   8  4  9
3  14  3  2